<!-- ============================================
; Title: Assignment 4.2-9.2 - Pets-R-Us - _boarding-about.html
; Author: Ace Baugh
; Start Date: 08/29/2022
; Description: WEB 340 Boarding Page about boarding partial
;              Boarding description for Pets-R-Us 
; ============================================ -->

<div class="boarding-section padded">
	<div class="section-title">About Our Boarding</div>
	<div class="prose-content">
		<!-- Boarding image -->
		<div class="wrap-image"><img src="./images/dog-bed.jpg" alt="Dog yawning in bed" /></div>
		<!-- Information about Pets-R-Us Training -->
		<div class="paragraph">
			At <%- companyName %>, we know that your dog is the most important thing in your life, and we want to make sure they're happy while you're
			away. That's why we offer individual spots, love and attention, exercise and stimulation. We provide a real personal touch.
		</div>
		<div class="paragraph">
			We know how hard it can be to leave your fur baby behind when you go on vacation or just need a day away from them—so we're here to help! We
			offer safe, clean boarding facilities where you can leave your pet with us overnight or during a longer staycation. Just let us know how long
			you need, what kind of care they need (individual or group), and what type of personality they have (is he an escape artist? Does she get
			nervous around strangers?). We'll take care of everything else!
		</div>
		<div class="paragraph">
			We'll provide food, water, and an enriching playtime for your pup. We have plenty of toys and treats for them to play with—and even more fun
			stuff in the office! The space is bright and airy, so they'll be happy here.
		</div>
		<div class="paragraph">
			We know how important it is for your pet to have someone who understands their unique personality and lets them go about their day as if they
			were in their own home. We also know that no two dogs are alike—so we tailor our services to meet each animal's needs.
		</div>
		<div class="paragraph">We're here to help you by taking the stress out of being away from your fury friends. Check out our pricing below.</div>
	</div>
	<div class="call-to-action">
		<!-- Link to landing page location section -->
		<a href="/#locations"><div class="btn btn-primary">Find A Location Near You</div></a>
	</div>
</div>
