<!-- ============================================
; Title: Assignment 4.2-9.2 - Pets-R-Us - _booking.html
; Author: Ace Baugh
; Start Date: 08/29/2022
; Description: WEB 340 Booking Page Booking Form partial
;              A simple Booking form with a submit button
============================================ -->

<div class="contact-form" id="contact">
	<!-- Booking Form Title -->
	<div class="section-title">Join the Club!</div>
	<div class="contact-form-content">
		<!-- Booking Form -->
		<form class="form" method="post" action="/">
			<div class="form-group">
				<!-- Booking Form Username Input Field -->
				<label for="username">Username</label>
				<input type="text" class="input" id="username" name="username" placeholder="Enter Username" required autofocus />
			</div>
			<div class="form-group">
				<!-- Booking Form First Name Input Field -->
				<label for="firstName">First Name</label>
				<input type="text" class="input" id="firstName" name="firstName" placeholder="Enter First Name" required />
			</div>
			<div class="form-group">
				<!-- Booking Form Last Name Input Field -->
				<label for="lastName">Last Name</label>
				<input type="text" class="input" id="lastName" name="lastName" placeholder="Enter Last Name" required />
			</div>
			<div class="form-group">
				<!-- Booking Form Email Input Field -->
				<label for="email">Email</label>
				<input type="email" class="input" id="email" name="email" placeholder="Enter Email" required />
			</div>
			<div class="form-group">
				<!-- Booking Services Input Field -->
				<label for="services">Services</label>
				
			</div>
			<!-- Booking Form Submit Button -->
			<input type="submit" class="btn btn-primary"></input>
		</form>
	</div>
</div>
