<!-- ============================================
; Title: Assignment 4.2-9.2 - Pets-R-Us - _booking.html
; Author: Ace Baugh
; Start Date: 08/29/2022
; Description: WEB 340 Booking Page Booking Form partial
;              A simple Booking form with a submit button
============================================ -->

<div class="contact-form" id="book">
	<!-- Booking Form Title -->
	<div class="section-title">Book an Appointment!</div>
	<div class="contact-form-content">
		<!-- Booking Form -->
		<form class="form" method="post" action="/booking">
			<div class="form-group">
				<!-- Booking Form First Name Input Field -->
				<label for="firstName">First Name</label>
				<input type="text" class="input" id="firstName" name="firstName" placeholder="Enter First Name" required />
			</div>
			<div class="form-group">
				<!-- Booking Form Last Name Input Field -->
				<label for="lastName">Last Name</label>
				<input type="text" class="input" id="lastName" name="lastName" placeholder="Enter Last Name" required />
			</div>
			<div class="form-group">
				<!-- Booking Form Email Input Field -->
				<label for="email">Email</label>
				<input type="email" class="input" id="email" name="email" placeholder="Enter Email" required />
			</div>
			<div class="form-group">
				<!-- Booking Services Input Field -->
				<label for="services">Services</label>
				<select class="drop-down-menu" id="services" name="services" required>
				<% services.forEach((service) => { %>
					<option value="<%= service.value %>"><%= service.text %></option>
				<% }) %>
				</select>
			</div>
			<!-- Booking Form Submit Button -->
			<div class="submit-btn">
				<input type="submit" class="btn btn-primary"></input>
			</div>
		</form>
	</div>
</div>
