<!-- ============================================
; Title: Assignment 4.2-9.2 - Pets-R-Us - _customer-list.html
; Author: Ace Baugh
; Start Date: 08/29/2022
; Description: WEB 340 Customers Page Customer List partial
;              A simple table with a list of customers
============================================ -->

<div class="contact-list" id="customers">
	<!-- Customer List Title -->
	<div class="section-title"><%- companyName %> Customer List</div>
	<div class="customer-container">
      <!-- Customer List Table-->
<% if (customers.length > 0) { %>
      <table class="table">
         <thead>
            <tr>
               <th scope="col">Customer ID</th>
               <th scope="col">Email</th>
            </tr>
         </thead>
         <tbody>
            <% for (let i = 0; i < customers.length; i++) { %>
            <tr class="table-hover">
               <td><%= customers[i].customerID %></td>
               <td><%= customers[i].email %></td>
            </tr>
            <% } %>
         </tbody>
      </table>
      <% } else { %>
      <p class="empty-warning">No customers found. Try adding some.</p>
      <% } %>
      <a href="/registration"><div class="btn btn-primary">Join The Club!</div></a>
	</div>
</div>
