<!-- ============================================
; Title: Assignment 4.2-9.2 - Pets-R-Us - _customer-list.html
; Author: Ace Baugh
; Start Date: 08/29/2022
; Description: WEB 340 Customers Page Customer List partial
;              A simple table with a list of customers
============================================ -->

<div class="contact-list" id="customers">
	<!-- Customer List Title -->
	<div class="section-title"><%- companyName %> Customer List</div>
	<div class="customer-container">
   <!-- Customer List Table-->
   <% if (customers.length > 0) { %>
      <table class="table">
         <thead>
            <tr>
               <!-- Table headers -->
               <th scope="col">Customer ID</th>
               <th scope="col">Email</th>
            </tr>
         </thead>
         <tbody>
            <!-- Loop over each customer -->
            <% customers.forEach((customer) => { %>
            <tr class="table-hover">
               <!-- Table data -->
               <td><%= customer.customerID %></td>
               <td><%= customer.email %></td>
            </tr>
            <!-- close loop -->
            <% }); %>
         </tbody>
      </table>
      <% } else { %>
      <!-- If no customers found, display empty table text -->
      <p class="empty-warning">No customers found. Try adding some.</p>
      <% } %>
      <!-- button to register -->
      <a href="/registration"><div class="btn btn-primary">Join The Club!</div></a>
	</div>
</div>
