<!-- ============================================
; Title: Assignment 4.2-9.2 - Pets-R-Us - _registration-form.html
; Author: Ace Baugh
; Start Date: 08/29/2022
; Description: WEB 340 Registration Page Registration Form partial
;              A simple registration form with a submit button
============================================ -->

<div class="contact-form" id="register">
	<!-- Registration Form Title -->
	<div class="section-title">Join the Club!</div>
	<div class="contact-form-content">
		<!-- Registration Form -->
		<form class="form" method="post" action="/">
			<div class="form-group">
				<!-- Registration Form Customer ID Input Field -->
				<label for="customerID">Customer ID</label>
				<input type="text" class="input" id="customerID" name="customerID" placeholder="Enter customerID" required autofocus />
			</div>
			<div class="form-group">
				<!-- Registration Form Email Input Field -->
				<label for="email">Email</label>
				<input type="email" class="input" id="email" name="email" placeholder="Enter email" />
			</div>
			<!-- Registration Form Submit Button -->
			<div class="submit-btn">
				<input type="submit" class="btn btn-primary"></input>
			</div>
		</form>
	</div>
</div>
