<!-- ============================================
; Title: Assignment 4.2-9.2 - Pets-R-Us - _boarding-prices.html
; Author: Ace Baugh
; Start Date: 08/29/2022
; Description: WEB 340 Boarding Page boarding prices partial
;              Boarding Prices for Pets-R-Us 
; ============================================ -->

<div class="training-pricing-section padded">
	<div class="section-title">Training Packages & Prices</div>
	<div class="cards-container">
		<!-- Puppy Pricing -->
		<div class="card">
			<div class="card-header">Puppies</div>
			<div class="card-body">
            <div class="training-card-content">
               <!-- Packages names and prices -->
               $50-Life Skills<br>
               $40-On the Leash<br>
               $65-House-Breaking
            </div>
			</div>
		</div>

		<!-- Adolescents Options -->
		<div class="card">
			<div class="card-header">Adolescents</div>
			<div class="card-body">
            <div class="training-card-content">
               <!-- Packages names and prices -->
               $65-House-Breaking<br>
               $75-How to be a dog<br>
               $50-Off the Leash
            </div>
			</div>
		</div>

		<!-- Adults Options -->
		<div class="card">
			<div class="card-header">Adults</div>
			<div class="card-body">
            <div class="training-card-content">
               <!-- Packages names and prices -->
               $95-Squirrels don’t exist<br>
               $75-How to be a dog<br>
               $50-New tricks
            </div>
			</div>
		</div>
	</div>
</div>
