<!-- ============================================
; Title: Assignment 4.2-9.2 - Pets-R-Us - _boarding-prices.html
; Author: Ace Baugh
; Start Date: 08/29/2022
; Description: WEB 340 Boarding Page boarding prices partial
;              Boarding Prices for Pets-R-Us 
; ============================================ -->

<div class="write-up-section padded">
	<div class="section-title">Training Packages & Prices</div>
	<div class="cards-container">
		<!-- Puppy Pricing -->
		<div class="card">
			<div class="card-header">Puppies</div>
			<div class="card-body">
				<table>
					<!-- Packages Options -->
					<tr>
						<td><i class="fa-solid fa-paw"></i></td>
						<td>Double Shampoo Wash & Blow Dry</td>
					</tr>
					<tr>
						<td><i class="fa-solid fa-paw"></i></td>
						<td>15+ Minutes Brushing</td>
					</tr>
					<tr>
						<td><i class="fa-solid fa-paw"></i></td>
						<td>Ear Cleaning</td>
					</tr>
					<tr>
						<td><i class="fa-solid fa-paw"></i></td>
						<td>Ear Hair Removal</td>
					</tr>
					<tr>
						<td><i class="fa-solid fa-paw"></i></td>
						<td>Nail Trim</td>
					</tr>
					<tr>
						<td><i class="fa-solid fa-paw"></i></td>
						<td>Nail Grind</td>
					</tr>
					<tr>
						<td><i class="fa-solid fa-paw"></i></td>
						<td>Anal Gland Expression</td>
					</tr>
					<tr>
						<td></td>
						<td class="package-right">..And Always a Tasty Treat!</td>
					</tr>
				</table>
			</div>
		</div>

		<!-- Adolescents Options -->
		<div class="card">
			<div class="card-header">Adolescents</div>
			<div class="card-body">
				<table>
					<!-- Package Options -->
					<tr>
						<td><i class="fa-solid fa-paw"></i></td>
						<td class="package-plus">Everything from the Basic Package, Plus...</td>
					</tr>
					<tr>
						<td><i class="fa-solid fa-paw"></i></td>
						<td>30 Minutes Brushing</td>
					</tr>
					<tr>
						<td><i class="fa-solid fa-paw"></i></td>
						<td>Teeth Brushing</td>
					</tr>
					<tr>
						<td><i class="fa-solid fa-paw"></i></td>
						<td>Brush/Massage in Hydrobath&trade;</td>
					</tr>
					<tr>
						<td><i class="fa-solid fa-paw"></i></td>
						<td>Ear Hair Removal</td>
					</tr>
					<tr>
						<td><i class="fa-solid fa-paw"></i></td>
						<td>Towel Dry Face</td>
					</tr>
					<tr>
						<td></td>
						<td class="package-right">..And Always a Tasty Treat!</td>
					</tr>
				</table>
			</div>
		</div>

		<!-- Adults Options -->
		<div class="card">
			<div class="card-header">Adults</div>
			<div class="card-body">
				<table>
					<!-- Package Options -->
					<tr>
						<td><i class="fa-solid fa-paw"></i></td>
						<td class="package-plus">Everything from the Previous Packages, Plus...</td>
					</tr>
					<tr>
						<td><i class="fa-solid fa-paw"></i></td>
						<td>Aloe Remoisturizing Treatments For Skin and Coat</td>
					</tr>
					<tr>
						<td><i class="fa-solid fa-paw"></i></td>
						<td>De-Shedding Treatment / The Fabulous “FURminator”</td>
					</tr>
					<tr>
						<td><i class="fa-solid fa-paw"></i></td>
						<td>Shave-Downs / Lioncuts</td>
					</tr>
					<tr>
						<td><i class="fa-solid fa-paw"></i></td>
						<td>Therapeutic / Specialty Shampoos</td>
					</tr>
					<tr>
						<td></td>
						<td class="package-right">..And Always a Tasty Treat!</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
