<!-- ============================================
; Title: Assignment 4.2-9.2 - Pets-R-Us - _training-team.html
; Author: Ace Baugh
; Start Date: 08/29/2022
; Description: WEB 340 Training Page meet the training team partial
;              Training team members for Pets-R-Us 
; ============================================ -->

<div class="training-section padded" id="trainers">
	<div class="section-title">Meet Our Top Trainers</div>
	<div class="trainers-content">
      <!-- Trainer: Carl -->
      <div class="trainer">
         <div class="trainer-name">Carl Logan</div>
         <div class="trainer-location">Pottsville</div>
         <div class="trainer-image"><img src="./images/carl.jpg"></div>
         <div class="trainer-bio">
            <div class="bio-title">About Carl:</div>
            <div class="bio-content">Hello, I'm Chad the trainer, and I want to take care of your dog. I have been working with dogs for 10 years and love it! I am very patient and caring with all of my clients. I believe that dogs should be able to interact with their owners in a positive way and learn new things while doing so.</div>
            <div class="favorite-animal">
               <div class="fa-title">Favorite Animal:</div>
               <div class="fa-content">Sloths</div>
            </div>
         </div>
      </div>
      <!-- Trainer: Chad -->
      <div class="trainer">
         <div class="trainer-name">Chad O'Neal</div>
         <div class="trainer-location">Russellville</div>
         <div class="trainer-image"><img src="./images/chad.jpg"></div>
         <div class="trainer-bio">
            <div class="bio-title">About Chad:</div>
            <div class="bio-content">Hey, I'm Carl. If you are looking for a trainer who will help you teach your dog basic commands or train your dog in agility, then I am the person for you! I'm so excited to meet you and help your dog get in shape.</div>
            <div class="favorite-animal">
               <div class="fa-title">Favorite Animal:</div>
               <div class="fa-content">Dogs</div>
            </div>
         </div>
      </div>

      <div class="trainer">
         <div class="trainer-name">Clair Stewart</div>
         <div class="trainer-location">Pottsville</div>
         <div class="trainer-image"><img src="./images/clair.jpg"></div>
         <div class="trainer-bio">
            <div class="bio-title">About Clair:</div>
            <div class="bio-content">I'm a dog trainer, and I want to be your dog's new best friend. I love training dogs. I have been training dogs for many years, and I know how important it is to make sure your dog is getting the right kind of training.</div>
            <div class="favorite-animal">
               <div class="fa-title">Favorite Animal:</div>
               <div class="fa-content">Horses</div>
            </div>
         </div>
      </div>
      
      <div class="trainer">
         <div class="trainer-name">Jamal Damir</div>
         <div class="trainer-location">Dover</div>
         <div class="trainer-image"><img src="./images/jamal.jpg"></div>
         <div class="trainer-bio">
            <div class="bio-title">About Jamal:</div>
            <div class="bio-content">Hi! I'm Jamal. When you're looking for a trainer, you want someone who has experience with the breed of dog you have, the issues that come up with them, and how to fix them. That's why I've been trained in all kinds of different breeds—from pugs to pit bulls—so that I can help your dog learn how to act properly around people and other animals.</div>
            <div class="favorite-animal">
               <div class="fa-title">Favorite Animal:</div>
               <div class="fa-content">Chameleons</div>
            </div>
         </div>
      </div>

      <div class="trainer">
         <div class="trainer-name">Janice Wheatly</div>
         <div class="trainer-location">Dover</div>
         <div class="trainer-image"><img src="./images/janice.jpg"></div>
         <div class="trainer-bio">
            <div class="bio-title">About Janice:</div>
            <div class="bio-content">Howdy, Y'all! I'm Janice. Did you know that dogs don't understand language? They understand body language much better than spoken words. We need to teach our dogs what we want them to do by using their bodies and their noses. If you want your dog to sit, for example, you would put your hand on their back and say "sit." You would also make sure that their back is nice and straight when they sit so that they feel comfortable in doing it correctly.</div>
            <div class="favorite-animal">
               <div class="fa-title">Favorite Animal:</div>
               <div class="fa-content">Snakes</div>
            </div>
         </div>
      </div>

      <div class="trainer">
         <div class="trainer-name">Katie Bleazard</div>
         <div class="trainer-location">Pottsville</div>
         <div class="trainer-image"><img src="./images/katie.jpg"></div>
         <div class="trainer-bio">
            <div class="bio-title">About Katie:</div>
            <div class="bio-content">Katie here. I've been training dogs for many years, and they all love me, which is the best part of my job. Training dogs is like playing with them—it's fun and exciting. Your dog will look forward to coming to our sessions because it means he'll get some playtime with me!</div>
            <div class="favorite-animal">
               <div class="fa-title">Favorite Animal:</div>
               <div class="fa-content">Dolphins</div>
            </div>
         </div>
      </div>

      <div class="trainer">
         <div class="trainer-name">Rebecca Grant</div>
         <div class="trainer-location">Russellville</div>
         <div class="trainer-image"><img src="./images/rebecca.jpg"></div>
         <div class="trainer-bio">
            <div class="bio-title">About Rebecca:</div>
            <div class="bio-content">Hello, I'm your trainer. I know how frustrating it is to have a dog that doesn't listen and just wants to take over. And I've been there, too! I was there when I had my first dog and he was a total escape artist and would go into the backyard and get into stuff he shouldn't be doing, like the neighbor's garbage can. We couldn't even walk him because he would run off whenever we tried to do anything with him. I know how important it is for you and your family to have control of your dog, so I want to help you train him without losing control yourself!</div>
            <div class="favorite-animal">
               <div class="fa-title">Favorite Animal:</div>
               <div class="fa-content">Cats</div>
            </div>
         </div>
      </div>

      <div class="trainer">
         <div class="trainer-name">Shay McKee</div>
         <div class="trainer-location">Dover</div>
         <div class="trainer-image"><img src="./images/shay.jpg"></div>
         <div class="trainer-bio">
            <div class="bio-title">About Shay:</div>
            <div class="bio-content">What's up everyone. I love training dogs. I have been training dogs for many years, and I can't wait to get started with you! I believe that every dog should be able to stay in control of their own body and mind, not just when they're on a leash or under my watchful eye. If you've been looking for a professional trainer who truly cares about your pet and wants to help them: live the best life possible, look no further than me.</div>
            <div class="favorite-animal">
               <div class="fa-title">Favorite Animal:</div>
               <div class="fa-content">Gophers</div>
            </div>
         </div>
      </div>

      <div class="trainer">
         <div class="trainer-name">Walter McCue</div>
         <div class="trainer-location">Russellville</div>
         <div class="trainer-image"><img src="./images/walter.jpg"></div>
         <div class="trainer-bio">
            <div class="bio-title">About Walter:</div>
            <div class="bio-content">Hi, I'm Walter, the head trainer of Russellville. Are you tired of your dog taking control? Have you ever felt like your dog is too much of a "dog" to be trained? If so, I'm the trainer for you. I have been training dogs for many years and have helped many dogs become more obedient and perform better in their homes and with their owners. I can help you train your dog to listen to you, take direction from you, not pull on the leash, stop jumping up on people, etc.</div>
            <div class="favorite-animal">
               <div class="fa-title">Favorite Animal:</div>
               <div class="fa-content">Bison</div>
            </div>
         </div>
      </div>

      
	</div>
</div>
