<!-- ============================================
; Title: Assignment 4.2-9.2 - Pets-R-Us - 404.html
; Author: Ace Baugh
; Start Date: 08/29/2022
; Description: WEB 340 404 page for website. 
;              This is what is displayed when a page 
;              is not found. Also a fun sheep game.
============================================ -->
		<!-- Import header partial -->
		<%- include('./partials/_header.html') %>
		<!-- Import sheep game partial --> 
      <%- include('./partials/_sheep.html') %>
		<!-- Import footer partial --> 
		<%- include('./partials/_footer.html') %> 
