<!-- ============================================
; Title: Assignment 4.2-9.2 - Pets-R-Us - appointments.html
; Author: Ace Baugh
; Start Date: 08/29/2022
; Description: WEB 340 Appointments page for website. 
;              This page allows users to search for
;					appointments that are associated with the
;					entered email address.
============================================ -->

<!-- Import header partial -->
<%- include('./partials/_header.html') %>
	<!-- Import registration form partial 
	<%- include('./partials/_appointments.html') %>-->
<!-- Import footer partial -->
<%- include('./partials/_footer.html') %>