<!-- ============================================
; Title: Assignment 4.2-9.2 - Pets-R-Us - boarding.html
; Author: Ace Baugh
; Start Date: 08/29/2022
; Description: WEB 340 Boarding page for website. 
;              This uses a simple template and imports 
;              needed partials.
============================================ -->

<!-- Import header partial -->
<%- include('./partials/_header.html') %>
	<!-- Import about-boarding partial -->
	<%- include('./partials/_boarding-about.html') %>
	<hr />
	<!-- Import boarding prices partial -->
	<%- include('./partials/_boarding-prices.html') %>
<!-- Import footer partial -->
<%- include('./partials/_footer.html') %>
