<!-- ============================================
; Title: Assignment 4.2-9.2 - Pets-R-Us - customers.html
; Author: Ace Baugh
; Start Date: 08/29/2022
; Description: WEB 340 Customers page for website. 
;              This uses a simple template and imports 
;              needed partials to show customers.
============================================ -->

<!-- Import header partial -->
<%- include('./partials/_header.html') %>
	<!-- Import registration form partial -->
	<%- include('./partials/_customer-list.html') %>
<!-- Import footer partial -->
<%- include('./partials/_footer.html') %>