<!-- ============================================
; Title: Assignment 4.2-9.2 - Pets-R-Us - grroming.html
; Author: Ace Baugh
; Start Date: 08/29/2022
; Description: WEB 340 Grooming page for website. 
;              This uses a simple template and imports 
;              needed partials.
============================================ -->

<!-- Import header partial -->
<%- include('./partials/_header.html') %>
<div class="container">
<!-- Import grooming write up partial -->
	<%- include('./partials/_grooming-about.html') %>
	<hr />
<!-- Import grooming pricing partial -->
	<%- include('./partials/_grooming-pricing.html') %>
</div>
<!-- Import footer partial -->
<%- include('./partials/_footer.html') %>
