<!-- ============================================
; Title: Assignment 4.2-9.2 - Pets-R-Us - index.html
; Author: Ace Baugh
; Start Date: 08/29/2022
; Description: WEB 340 Landing page for website. 
;              This uses a simple template and imports 
;              needed partials.
============================================ -->

<!-- Import header partial -->
<%- include('./partials/_header.html') %>
	<!-- Import about partial -->
	<%- include('./partials/_about.html') %>
	<hr />
	<!-- Import locations partial -->
	<%- include('./partials/_locations.html') %>
	<!-- Import weekly dog partial -->
	<%- include('./partials/_weekly-dog.html') %>
	<!-- Import testimonials partial -->
	<%- include('./partials/_testimonials.html') %>
	<hr />
	<!-- Import contact form partial -->
	<%- include('./partials/_contact-form.html') %>
<!-- Import footer partial -->
<%- include('./partials/_footer.html') %>
